<h1> This is courses index page </h1>

<ul>
    <li>Code: TIC1001</li>
    <li>Name: Intro to Programming 1</li>
    <li>Description: A thorough introduction to programming </li>
</ul>

<ul>
    <li>Code: TIC2001</li>
    <li>Name: Intro to Programming 2</li>
    <li>Description: A thorough introduction to programming </li>
</ul>